*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  background-color: #fff0f5;
  color: #000;
  line-height: 1.6;
}
header {
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  background-color: #ff69b4;
}

.site-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.company {
  padding: 40px 50px;
  margin: 40px 450px;
}

.company h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #ff1493;
}

.company p {
  font-size: 18px;
  line-height: 1.6;
  width: 800px;
}

.team {
  padding: 0px 50px;
  text-align: left;
}
.team h2 {
  font-size: 40px;
  margin: 40px 450px;
  color: #ff1493;
}
.team .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.member1 {
  background-image: url("assets/Conrad1.webp");
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.member2 {
  background-image: url('assets/Archie.webp');
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.member3 {
  background-image: url('assets/Onel.webp');
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.member4 {
  background-image: url('assets/Junie.webp');
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
