*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  background-color: #fdbfff;
  color: #000;
  line-height: 1.6;
}
header {
}
.site nave {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
